*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgb(26, 26, 78);
    padding-top: 16px;
    color: white;
}

header > .container{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav{
    background-color: rgb(111, 111, 182);
    padding: 16px 0;
    display: none;
}

nav li{
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

nav li a{
    color: white;
    text-decoration: none;
}

.menu-hamburguer{
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span{
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    margin-bottom: 4px;
}

.container-flex{
    display: flex;
}

#sobre-a-loja{
    max-width: 400px;
}